
.nav-scroll{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    background: white; 
    position: sticky;
    top:0;
    z-index: 999;
    height: 20vh;
}

.nav-scroll::-webkit-scrollbar {
    width: 1em;
}
   
.nav-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.nav-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
}

#nav-logo{
    width: 80px;
    height: 80px;
}

@media only screen and (min-height: 1100px) {
    .nav-scroll {
        height: 15vh;
    }
}

@media only screen and (max-width: 992px) {
    #nav-logo{
        width: 90px;
        height: 90px;
    }

}

@media only screen and (max-width: 578px) {
    #nav-logo{
        width: 70px;
        height: 70px;
    }
   
    .nav-scroll{
        height: 25vh;
    }
}