
a.anchor {
    display: block;
    position: relative;
    top:-20vh;
    visibility: hidden;
}

.home-away-team{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.logo_score_style{
    justify-content: start;
}

.match-container {
    border-bottom: rgba(177, 177, 177, 0.3) solid 2px;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
}

.score_style{
    display: flex;
    flex-flow: column;
    width: 80px;
    margin: auto; 
    color: white;  
}

.score-logo{
    width: 40px;
    height: 40px;
    margin-left: 'auto';
    margin-right: 'auto';
    display: block;
}

.team-text {
    margin: 0;
}

#col-style {
    background: #282c34;
}

#date{
    display: flex;
    flex-flow: column;
    margin: auto; 
    flex-shrink: 0;
}

#match-data {
    flex-grow: 1;
}

#row-spacer {
    justify-content: center;
}

#score_table{
    background:rgb(255, 255, 255);
    overflow: hidden;
    overflow-y: scroll;
    height: 80vh;
}

#score_table::-webkit-scrollbar {
    width: 1em;
}
   
#score_table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
#score_table::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
    outline: 1px solid rgb(134, 134, 134);
}

#score-header {
    margin-bottom: 2rem;
    border-bottom: dotted rgba(0, 0, 0, 0.288) 2px;
    padding-top: 2rem;
}

#sidebar {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-flow: column;
    height: 30vh;
    box-shadow: 2px black;
    z-index: 99;
}

#sidebar-banner{
    height: 30vh;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

#side-team-header {
    padding-top: .5rem;
    font-size: 2rem;
}

#side-team-logo {
    width: 170px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top-row{
    margin-bottom: 1rem;
}
/* adjustments for tablets */
@media only screen and (min-height: 1100px) {
    a.anchor {
        top: -15vh;
    }
    
    #sidebar {
        height: 20vh;
    }
}

/*adjustments for horizontal mobile devices */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #side-team-header{
        font-size: 1rem;
    }
    #col-style{
        padding-left: 0px;
        padding-right: 0px;
    }

    #side-team-logo {
        width: 60px;
        height: 60px;
    }

    #sidebar{
        padding-left: 0px;
        padding-right: 0px;
    }

    #side_table{
        height: 50vh;
    }
}

@media only screen and (max-height: 600px){
    #side-team-header{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 700px) {

    a.anchor {
            top:-25vh;
    }

    .logo_score_style{
        margin-left: 5px;
    }

    .score-logo{
        width: 25px;
        height: 25px;
    }

    .score_style{
        font-size: 12px;
        width: 60px;
    }

    .team-text{
        font-size: 16px;
    }
    
    #awayName{
        padding-left: 0px;
    }
    #col-style{
        padding-left: 0px;
        padding-right: 0px;
    }
    #date{
        font-size: 12px;
    }

    #homeName{
        padding-left: 0px
    }

    #sidebar{
        height: 20vh;
        padding-left: 0px;
        padding-right: 0px;
    }

    #sidebar-banner{
        height: 20vh;
    }

    #score_table{
        padding-right: 0rem;
        height: 55vh;
    }

    #side-team-header{
        font-size: 1.5rem;
    }

    #side-team-logo{
        width: 80px;
        height: 80px;
        margin-bottom: .5rem;
    }

} 

    