.home-away-team{
    max-height: 75px;
    flex-shrink: 0;
    flex-basis: 150px;
}

#score_table{
    background-color: aqua;
}

.score_logo{
    width: 40px;
    height: 40px;
    justify-content: center;
}