body {
    background-color: antiquewhite;
}
.row {  
    display: flex;
    flex-wrap: wrap;
  }
.sidebar {
    flex: 30%;
    background-color: burlywood;
    padding: 20px;
}
.lineup {
    flex: 70%;
    background-color: cadetblue;
    padding: 20px;
}
.fixture-start{
    background-color: grey;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}
.fixture-alt {
    background-color: grey;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.navbar {
    display: flex;
    background-color: #333;
  } 
  
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
.navbar a:hover {
    background-color: #ddd;
   color: black; 
  }

h1 {
    text-align: center;  
}
h2{
    text-align: center;
}
h3 {
    text-align: center;
}
p{
    text-align: center;
    white-space: pre-line;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}