

.sidebar {
    flex: 30%;
    background-color: burlywood;
    padding: 20px;
}
.lineup {
    flex: 70%;
    background-color: cadetblue;
    padding: 20px;
}
.fixture-start{
    background-color: grey;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}
.fixture-alt {
    background-color: grey;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.teamname a{
    color: black;
    border-color: black;
}
