html{
    font-size: 15px;
}

p{
    text-align: center;
    
}

.text-intro{
    font-family: 'Red Rose', cursive;
    font-size: 20px;
    text-align: center;
}

.text-header{
    font-family: 'Red Rose', cursive;
    text-align: center;
}

.logo{
    width: 50px;
    height: 50px;
    margin: auto;
}

.team-selector{
    overflow-x: scroll;
}

.bg{
    background-color:#45a29e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgNav{
    background-color: whitesmoke;
}

.date{
   text-align: center; 
}

.match-time{
    margin:auto;
    text-align: center;
}

.navbar{
    margin-bottom: 5px;
}

#score-start{
    border-top: 2px solid black;
}

.scoreboard{
    
    border: 2px solid black;
    margin:-2px;
    width: 100%;
}

.score-team{
    width: 40px;
    height: 40px;
}

.home-away-team{
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    flex-basis: 100px;
}

.center-text{
    text-align: center;
}



