html{
    font-size: 15px;
}
header{
   text-align: center; 

}
.bg{
    background-image: url("/CODING/Github/html_learning/alt_not_git/assets/photos/soccer-field.jpeg");
    background-color:hsl(240,100%,20%);
    height: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.date{
   text-align: center; 
}

.match-time{
    /*margin-left: 100px;
    margin-right: 100px;*/
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
img{    
    width:50px;
    height: 50px; 
}


.navbar{
    margin-bottom: 5px;
}
#score-start{
    border-top: 2px solid black;
}
.scoreboard{
    background-color: hsla(240,100%,80%, .7);;
    border: 2px solid black;
    margin:-2px;
    width: 100%;

    /*display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
}
#score-team{
    width: 40px;
    height: 40px;
    
}
.home-team{
    margin-bottom: 5px;
    padding-top: 5px;
    justify-content: center;
    
}
.away-team{
    margin-top: 5px;
    padding-bottom: 5px;
   
}

p{
    text-align: center;
    vertical-align: auto;
}
